$axis: (x, y, z);

@include keyframe('transforming') {
  from {
    transform:
      translateX(var(--pos-x))
      translateY(var(--pos-y))
      translateZ(var(--pos-z))
      rotateX(var(--rot-x))
      rotateY(var(--rot-y))
      rotateZ(var(--rot-z))
      scaleX(var(--scale))
      scaleY(var(--scale))
      scaleZ(var(--scale));
  }
  to {
    transform:
      translateX(var(--pos-x-end))
      translateY(var(--pos-y-end))
      translateZ(var(--pos-z-end))
      rotateX(var(--rot-x-end))
      rotateY(var(--rot-y-end))
      rotateZ(var(--rot-z-end))
      scaleX(var(--scale-end))
      scaleY(var(--scale-end))
      scaleZ(var(--scale-end));
  }
}

.transform, .hover\:transform, .focus\:transform {
  @include animation-transform;
}

.hover\:transform, .focus\:transform {
  animation-play-state: paused;
}
.hover\:transform:hover {
  animation-play-state: running;
}
.focus\:transform {
  &:focus, &:focus-within {
    animation-play-state: running;
  }
}

[class*="hover\:rotate-"], [class*=".focus\:rotate-"] {
  ~ .rotate-element {
    @include animation-transform;

    animation-play-state: paused;
  }
}
[class*="hover\:rotate-"] {
  &:hover ~ .rotate-element {
    animation-play-state: running;
  }
  &.rotate-reverse ~ .rotate-element {
    --transform-direction: reverse;
  }
}
[class*=".focus\:rotate-"] {
  &:focus ~ .rotate-element {
    animation-play-state: running;
  }
  &.rotate-reverse ~ .rotate-element {
    --transform-direction: reverse;
  }
}
@each $a in $axis {
  .hover\:rotate-#{$a} ~ .rotate-element, .focus\:rotate-#{$a} ~ .rotate-element {
    --rot-#{$a}-end: 360deg;
  }
}