.cube {
  --cube-edge: 8em;

  > * {
    position: absolute;
    margin: calc(-.5*var(--cube-edge));
    width: var(--cube-edge); height: var(--cube-edge);
    box-shadow: 0 0 0 1px;
  }

  > *:nth-child(1) {
    transform: rotateY(  0deg) translateZ(calc(.5*var(--cube-edge)))
  }
  > *:nth-child(2) {
    transform: rotateY( 90deg) translateZ(calc(.5*var(--cube-edge)))
  }
  > *:nth-child(3) {
    transform: rotateY(180deg) translateZ(calc(.5*var(--cube-edge)))
  }
  > *:nth-child(4) {
    transform: rotateY(270deg) translateZ(calc(.5*var(--cube-edge)))
  }
  > *:nth-child(5) {
    transform: rotateX( 90deg) translateZ(calc(.5*var(--cube-edge)))
  }
  > *:nth-child(6) {
    transform: rotateX(-90deg) translateZ(calc(.5*var(--cube-edge)))
  }
}