.cube {
  --width: 100px;
  --height: 100px;
  --depth: 130px;

  width: var(--width);
  height: var(--height);

  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  > :nth-child(1) {
    transform: rotateY(180deg);
  }
  > :nth-child(2) {
    transform-origin: left;
    width: var(--depth);
    transform: 
      rotateY(-90deg);
  }
  > :nth-child(3) {
    transform:
      translateZ(var(--depth));
  }
  > :nth-child(4) {
    width: var(--depth);
    transform-origin: right;
    transform: 
      translateX(calc(var(--width) - var(--depth)))
      rotateY(90deg);
  }
}