.viewport {
  --viewport-width: #{$viewport-width};
  --viewport-height: #{$viewport-height};
  --viewport-perspective: #{$viewport-perspective};

  margin: auto;
  width: var(--viewport-width);
  height: var(--viewport-height);
  overflow: hidden;
  position: relative;
  perspective: var(--viewport-perspective);

  & * {
    transform-style: preserve-3d; box-sizing: border-box;
  }
}