@mixin transform-3d($posX: 0, $posY: 0, $posZ: 0, $rotX: 0deg, $rotY: 0deg, $rotZ: 0deg, $scale: 1) {
  --pos-x: #{$posX};
  --pos-y: #{$posY};
  --pos-z: #{$posZ};
  --rot-x: #{$rotX};
  --rot-y: #{$rotY};
  --rot-z: #{$rotZ};
  --scale: #{$scale};
  --transform-duration: .3s;

  transform: 
    translateX(-50%)
    translateY(-50%)
    translateX(var(--pos-x))
    translateY(var(--pos-y))
    translateZ(var(--pos-z))
    rotateX(var(--rot-x))
    rotateY(var(--rot-y))
    rotateZ(var(--rot-z))
    scaleX(var(--scale))
    scaleY(var(--scale))
    scaleZ(var(--scale));
  transition: transform var(--transform-duration) linear;
}